[user]
	name = Rohail Taimour
	email = rohail.taimour@gmail.com
[core]
	autocrlf = input
	editor = vim
	pager = delta
	excludesfile = ~/.gitignore
[alias]
    # while on main/master update
    pm = pull origin master
    pn = pull origin main
    
    # While checked out to another branch, fetch origin/main and update my local main/master branch to match it
    # sync-main = !git fetch origin main && git branch -f main origin/main
    # sync-master = !git fetch origin master && git branch -f master origin/master
    sync-main = fetch origin main:main
    sync-master = fetch origin master:master
    check-master = "!git fetch origin master:master && git log --oneline HEAD..master"
    #push current branch to origin
    poh = "!f() { git push origin HEAD \"$@\"; }; f"
    ci = !git commit -m 'ci: empty commit' --no-verify --allow-empty && git push && git reset --soft HEAD~ && git push --force-with-lease
    # Fetch origin
    f = "!git fetch origin"

    # merge from origin directly
    mom = merge origin/master
    mon = merge origin/main

    # rebase from origin directly
    rom = rebase origin/master
    ron = rebase origin/main

    # switch to existing branch
    sw = switch

    # create and switch
    swc = switch -c
	ll="!git log --graph --format='%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)'"
    wt-pull = "!bash -lc 'git_wt_pm'"
    dmb = "!bash -lc 'git_dmb'"


[rerere]
	enabled = true
	autoUpdate = true
[branch]
	sort = -committerdate
[credential]
	helper = store

[interactive]
		diffFilter = delta --color-only

[delta]
		navigate = true    # use n and N to move between diff sections

		# delta detects terminal colors automatically; set one of these to disable auto-detection
		# dark = true
		#light = true
[merge]
		conflictstyle = diff3
[diff]
		colorMoved = default
